import( 'locfit' )

importFrom( 'DESeq2',
                'DESeqDataSetFromMatrix',
                'estimateSizeFactors',
                'estimateDispersions',
                'nbinomWaldTest',
                'results')
importFrom( 'limma', 
                'voom', 
                'lmFit', 
                'eBayes' )
importFrom( 'EBSeq', 
                'MedianNorm',
                'EBTest',
                'GetPPMat')
importFrom( 'NBPSeq',
                'nbp.test')
importFrom( 'edgeR', 
                'DGEList',
                'exactTest', 
                'calcNormFactors', 
                'estimateCommonDisp', 
                'estimateTagwiseDisp')
importFrom( 'graph',
                'ugraph')
importFrom( 'RBGL',
                'kCliques')
importFrom( 'igraph',
                'igraph.to.graphNEL',
                'graph_from_edgelist',
                'as_data_frame',
                'closeness',
                'hub_score',
                'decompose',
                'cluster_walktrap',
                'cluster_edge_betweenness',
                'cluster_fast_greedy',
                'cluster_leading_eigen',
                'cluster_infomap',
                'cluster_louvain',
                'cliques',
                'max_cliques',
                'coreness',
                'components',
                'as.undirected',
                'betweenness',
                'eccentricity',
                'articulation_points',
                'page_rank',
                'degree',
                'dfs',
                'ego',
                'get.edgelist',
                'get.adjacency',
                'graph.adjacency',
                'graph.adjlist',
                'V',
                'E',
                'all_simple_paths',
                'graph.data.frame',
                'simplify',
                'V<-',
                'E<-',
                'layout.davidson.harel',
                'write.graph')
importFrom( 'Matrix',
                'triu')
importFrom( 'circlize',
                'circos.par',
                'chordDiagram',
                'get.all.sector.index',
                'get.cell.meta.data',
                'circos.text',
                'circos.clear')
importFrom( 'grDevices',
                'pdf',
                'png',
                'svg',
                'rainbow',
                'dev.off',
                'colorRampPalette',
                'dev.copy2pdf')
importFrom( 'graphics',
                'par',
                'barplot',
                'text',
                'plot')
importFrom( 'stats', 
                'deviance', 
                'glm', 
                'hatvalues', 
                'pchisq', 
                'pf',
                'poisson', 
                'qchisq', 
                'qf', 
                'residuals',
                'p.adjust',
                'phyper',
                'model.matrix',
                'cor',
                'predict',
                'setNames')
importFrom( 'pheatmap',
                'pheatmap')
importFrom( 'utils',
                'browseURL',
                'head',
                'write.table',
                'read.table',
                'capture.output')
importFrom( 'ggplot2',
                'qplot',
                'theme_classic',
                'geom_point',
                'scale_colour_gradientn',
                'labs',
                'cut_number',
                'theme',
                'element_text')
importFrom( 'jsonlite',
                'toJSON')
importFrom(  'tools',
                'file_ext')
importFrom(  'methods',
                'representation',
                'setClass',
                'setGeneric',
                'setMethod',
                'signature',
                'new', 
                'is')
export( 'DEsubs', 
                'geneVisualization', 
                'organismVisualization',
                'subpathwayToGraph',
                'subpathwayVisualization',
                'subpathwayTypes' )
